*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
   max-width: 1380px;
   width: 100%;
   margin: 0 auto;
   padding: 0px 20px;
}

.afclr:after{
	clear: both;
	float: none;
	display: block;
	content: "";
}

img{
    width: 100%;
    max-width: 100%;
}


.banner_position{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    right: 0;    
}

/* .top_banner {
    background-position: center center;
    background-image: url('/images/school-campus.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
} */
