*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
   max-width: 1380px;
   width: 100%;
   margin: 0 auto;
   padding: 0px 20px;
}

.afclr:after{
	clear: both;
	float: none;
	display: block;
	content: "";
}
.error-message {
    color: #dc2626;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
}

img{
    width: 100%;
    max-width: 100%;
}

.banner_position{
 
}

/* dynamic anchor start */
.roleChangeAnchor {
    display: none; /* Hide all by default */
}

.roleChangeAnchor.active {
    display: block !important;
}
/* dynamic anchor end */